<ion-header>
  <ion-toolbar>
    <img src="../../assets/icon/logo.svg" class="header-logo" alt="logo">
    <ion-title>fAQ - Questions</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img class="header-img" src="../../assets/imgs/question.png" alt="Faq">
      <ion-card-title>
        Foire aux questions
      </ion-card-title>
      <p>Les questions les plus fréquentes concernant le Corona Virus au Sénégal.</p>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="fac-title">
        Le Corona Virus, existe-t-il au Sénégal ?
      </ion-card-title>
      <ion-card-content>
        Oui, le Corona Virus existe bel et bien au Sénégal. 
        Le 17 Mars 2020, le Ministère de la Santé et de l'Action Sociale du Sénégal 
        avait dénombré 26 sur l'ensemble du territoire. 
        Vous pouvez voir les chiffres dans notre page Données.
        <ion-icon routerLink="/data" class="visite" name="arrow-forward-outline"></ion-icon>
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="fac-title">
        Quels sont les symptômes du COVID-19 ?
      </ion-card-title>
      <ion-card-content>
        Selon l’OMS, les symptômes les plus courants de la COVID-19 sont la fièvre, 
        la fatigue et une toux sèche. Certains patients présentent des douleurs, 
        une congestion nasale, un écoulement nasal, des maux de gorge ou une diarrhée. 
        Ces symptômes sont généralement bénins et apparaissent de manière progressive. 
        Certaines personnes, bien qu’infectées, ne présentent aucun symptôme et se sentent bien. 
        La plupart (environ 80 %) des personnes guérissent sans avoir besoin de traitement particulier. 
        Environ une personne sur six contractant la maladie présente des symptômes plus graves, 
        notamment une dyspnée. Les personnes âgées et celles qui ont d’autres problèmes de santé 
        (hypertension artérielle, problèmes cardiaques ou diabète) ont plus de risques de présenter des symptômes graves. 
        Toute personne qui a de la fièvre, qui tousse et qui a des difficultés à respirer doit rester chez elle, 
        éviter tout contact avec les gens, 
        et appeler l'un des numéros d'urgence mis à disposition par le ministère de la santé.
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="fac-title">
        Comment puis-je me protéger et éviter que la maladie ne se propage ?
      </ion-card-title>
      <ion-card-content>
        Vous pouvez réduire le risque d’être infecté ou de propager le COVID-19 en respectant 
        ces conseils de l’Organisation Mondiale de la Santé (OMS):
        Se laver fréquemment et soigneusement les mains avec une solution hydroalcoolique ou à l’eau et au savon.
        Maintenir une distance d’au moins un mètre avec les autres personnes qui toussent ou qui éternuent.
        Éviter de se toucher les yeux, le nez et la bouche.
        Veillez à respecter les règles d’hygiène respiratoire et à ce que les personnes autour de vous 
        en fassent autant. En cas de toux ou d’éternuement, il faut se couvrir la bouche et le nez 
        avec le pli du coude, ou avec un mouchoir et jeter le mouchoir immédiatement après.
        Si vous ne vous sentez pas bien, restez chez vous. En cas de fièvre, de toux et de dyspnée, 
        contactez un médecin et suivez ses recommandations. 
        Restez à l'écoute des instructions des autorités sanitaires locales.
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="fac-title">
        Dois-je porter un masque pour me protéger ?
      </ion-card-title>
      <ion-card-content>
        L’OMS recommande de faire un usage rationnel des masques médicaux afin d’éviter le gaspillage 
        de ressources précieuses et l’utilisation abusive. Il est donc conseillé de porter un masque que 
        si l'on présente des symptômes de la COVID-19 (en particulier, la toux) ou si l'on s’occupe 
        de quelqu’un susceptible d’être atteint de la maladie. Il est aussi important de noter que 
        les masques jetables sont à usage unique.
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="footer">
        Copyright 2020 - COVIDSN.COM
        COVIDSN.COM n'est pas rattaché au Gouvernement du Sénégal.
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Back -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/chose" color="success">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
