ion-toolbar{
    border-bottom: 1px solid #fff102;
}

.header-logo{
    width: 25%;
}

ion-card{
    font-family: 'Montserrat', sans-serif;
    box-shadow: none;
}

h2{
    color: #718096;
}

ion-title{
    font-size: larger;
}  

.header{
    text-align: center;
    box-shadow: none;
}

.description{
    text-align: left;
}

.header-img{
    width: 60%;
}

ion-slide ion-card{
    margin: 0px;
    border: 1px solid #fff102;
}

ion-card-title{
    color: #01a551;
    font-weight: 300;
}

.title{
    padding: 20px 5px 20px 5px;
    border-bottom: 1px solid #fff102;
}

.name{
    font-weight: 600;
    text-align: left;
    font-size: 14px;
}

.function{
    font-weight: 600;
    font-size: 20px;
}

.footer{
    font-size: 16px;
    text-align: right;
    padding-top: 20px;
    color: #718096;
    font-weight: 300;
    border-top: 1px solid #fff102;
    border-bottom: none;
    line-height: 1.7;
    letter-spacing: 0.5;
}