<ion-header>
  <ion-toolbar>
    <img src="../../assets/icon/logo.svg" class="header-logo" alt="logo">
    <ion-title>A Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="header">
    <ion-card-header>
      <img class="header-img" src="../../assets/imgs/team.png" alt="conversation">
      <ion-card-title class="title">
        À propos de nous
      </ion-card-title>
      <div class="description">
        <p>Nous sommes un groupe d'acteurs dans les domaines de la santé et du digital au Sénégal.</p>
        <p>
          Nous avons pour mission d'utiliser les différentes plateformes en ligne 
          afin de limiter au maximum la propagation du virus dans le territoire national. 
          Afin d'y parvenir, nous créons différents supports d'information et mettons à la disposition 
          de la population sénégalaise du contenu éducatif et informatif.
        </p>
      </div>
    </ion-card-header>

    <ion-card-content>
      <!-- A Contributor -->
    <ion-slides>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/ahmath-bamba-mbacke.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Ahmeth Bamba Mbacké</ion-card-subtitle>
            <ion-card-title class="function">Coordonnateur des opérations</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/mohamed-thiam.JPG" />
          <ion-card-header>
            <ion-card-subtitle>Mohamed Thiam</ion-card-subtitle>
            <ion-card-title class="function">Chef de Projet WEB</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/barkham-malang-diedhiou.jpeg" />
          <ion-card-header>
            <ion-card-subtitle>Barkham Malang Diedhiou</ion-card-subtitle>
            <ion-card-title class="function">Coordonnateur multimédia</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/lamine.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Lamine B Diagne</ion-card-subtitle>
            <ion-card-title class="function">Membre</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/mohamed-sow.jpeg" />
          <ion-card-header>
            <ion-card-subtitle>Mohamed Sow</ion-card-subtitle>
            <ion-card-title class="function">Membre</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/abdou-khadre-diop.jpeg" />
          <ion-card-header>
            <ion-card-subtitle>Abdou Khadre Diop</ion-card-subtitle>
            <ion-card-title class="function">Membre</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/Khadim-toftal.png" />
          <ion-card-header>
            <ion-card-subtitle>Khadim Seck</ion-card-subtitle>
            <ion-card-title class="function">Membre</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="footer">
        Copyright 2020 - COVIDSN.COM
        COVIDSN.COM n'est pas rattaché au Gouvernement du Sénégal.
      </ion-card-title>
    </ion-card-header>
  </ion-card>
    
  <!-- Back -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/chose" color="success">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
