<ion-header>
  <ion-toolbar>
    <img src="../../assets/icon/logo.svg" class="header-logo" alt="logo">
    <ion-title>A Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="header">
    <ion-card-header>
      <img class="header-img" src="../../assets/imgs/doctor1.png" alt="conversation">
      <ion-card-title class="title">
        À propos de nous
      </ion-card-title>
      <div class="description">
        <p>Nous sommes un groupe d'acteurs dans les domaines de la santé et du digital au Sénégal.</p>
        <p>
          Nous avons pour mission d'utiliser les différentes plateformes en ligne 
          afin de limiter au maximum la propagation du virus dans le territoire national. 
          Afin d'y parvenir, nous créons différents supports d'information et mettons à la disposition 
          de la population sénégalaise du contenu éducatif et informatif.
        </p>
      </div>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>
  
    <!-- A Contributor -->
    <ion-slides>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/ahmath-bamba-mbacke.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Ahmeth Bamba Mbacké</ion-card-subtitle>
            <ion-card-title>Chef de Projet WEB</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/ahmath-bamba-mbacke.jpg" />
          <ion-card-header>
            <ion-card-subtitle class="name">Ahmeth Bamba Mbacké</ion-card-subtitle>
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <ion-card-title>Chef de Projet WEB</ion-card-title>
                </ion-col>
                <ion-col size="4">
                  <ion-icon name="call-outline"></ion-icon>
                  <ion-icon name="call-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="../../assets/equipe/ahmath-bamba-mbacke.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Ahmeth Bamba Mbacké</ion-card-subtitle>
            <ion-card-title>Chef de Projet WEB</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    
</ion-content>
