<ion-header>
  <ion-toolbar>
    <img src="../../assets/icon/logo.svg" class="header-logo" alt="logo">
    <ion-title>Choix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="header">
    <ion-card-header>
      <img class="header-img" src="../../assets/imgs/conversation.png" alt="conversation">
      <ion-card-title>
        Sur quoi voulez-vous être informé ?
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="option">
        <ion-row>
          <ion-col size="6">
            <img src="../../assets/imgs/doctor1.png" alt="doctor1">
            <h2>Conseils</h2>
          </ion-col>
          <ion-col size="6">
            <img src="../../assets/imgs/question.png" alt="doctor1">
            <h2>Questions</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <img src="../../assets/imgs/speacker.png" alt="speacker">
            <h2>Communiqués</h2>
          </ion-col>
          <ion-col routerLink="/data"  size="6">
            <img src="../../assets/imgs/map.png" alt="map">
            <h2>Chiffres</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <img src="../../assets/imgs/Fake-news.jpg" alt="Fake-news">
            <h2>Fake news</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Back -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/home" color="success">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Test -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()" color="primary">
      <ion-icon name="finger-print-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
