ion-toolbar{
    border-bottom: 1px solid #fff102;
}

.header-logo{
    width: 25%;
}

ion-card{
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: #718096;
}

ion-title{
    font-size: larger;
}  

.header{
    text-align: center;
    box-shadow: none;
}

.header-img{
    width: 60%;
}

ion-card-title{
    padding: 20px 5px 20px 5px;
    color: #01a551;
    font-weight: 300;
    border-bottom: 1px solid #fff102;
}

.option{
    text-align: center;
}

ion-row{
    margin-bottom: 20px;
}

.option img{
    width: 50%;
}