<ion-header>
  <ion-toolbar>
    <img src="../../assets/icon/logo.svg" class="header-logo" alt="logo">
    <ion-title>Passez un test</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon class="close" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="header">
    <ion-card-header>
      <img class="header-img" src="../../assets/imgs/doctor1.png" alt="conversation">
      <ion-card-title>
        Passez un test de diagnostique au Covid19
      </ion-card-title>
      <p>Pour passer ce test nous vous prions de bien vouloir coché les bonnes réponses.</p>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>
  

</ion-content>
