<ion-header>
  <ion-toolbar>
    <img src="../../assets/icon/logo.svg" class="header-logo" alt="logo">
    <ion-title>Données</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Données statistique du Covid-19 - SN
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="power-bi-data">
    <iframe width="360" height="905" src="https://app.powerbi.com/view?r=eyJrIjoiNDQyNDhmY2ItODE3OC00ODJlLTgzNzYtNDA0MzMyOTZkZGRhIiwidCI6ImE5ZTFjNmI2LTFlZDQtNDY5ZC1hZTBmLTA5MWQ3ZTRhZWQ1ZCIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="footer">
        Copyright 2020 - COVIDSN.COM
        COVIDSN.COM n'est pas rattaché au Gouvernement du Sénégal.
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Back -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/chose" color="success">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
