<ion-header>
  <ion-toolbar>
    <ion-title size="large">{{accueil.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-img src ="./assets/img/virus.png"></ion-img>
        <ion-text align="center">{{accueil.prev}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-img src ="./assets/img/doctor.png"></ion-img>
        <ion-text align="center">{{accueil.diag}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-img [routerLink]="['/langue/accueil/faq', accueil.langueId]" src ="./assets/img/question.png"></ion-img>
        <ion-text align="center">{{accueil.faq}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-img [routerLink]="['/langue/accueil/map', accueil.langueId]" src ="./assets/img/map.png"></ion-img>
        <ion-text align="center">{{accueil.map}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-img src ="./assets/img/fake.png"></ion-img>
        <ion-text align="center">{{accueil.fakeNews}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-img src ="./assets/img/call.png"></ion-img>
        <ion-text align="center">{{accueil.call}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title><ion-text size font-size="1">Copyright 2020 Seynabou Dimé</ion-text></ion-title>
  </ion-toolbar>
</ion-footer>
